11/multiple linear reg/lab 11 (2) transmission nodered import.txt
[{"id":"30e702c5.b5f27e","type":"tab","label":"lab 11 (2) transmission","disabled":false,"info":""},{"id":"6bf9354d.6af38c","type":"file","z":"30e702c5.b5f27e","name":"","filename":"C:\\Users\\Varun Patel\\Desktop\\excel_data.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":610,"y":80,"wires":[["56dda9db.045778"]]},{"id":"ea38e162.63be1","type":"inject","z":"30e702c5.b5f27e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":90,"y":140,"wires":[["427fea80.fea6d4"]]},{"id":"f83ff8f4.049808","type":"function","z":"30e702c5.b5f27e","name":"","func":"if (msg.payload === false)\n{\n    return null;\n}\n//random value generator between 1 - 100\nmsg.payload = {\n    date:Math.floor((Math.random() * 100) + 1),\n    time:Math.floor((Math.random() * 100) + 1),\n    location1:Math.floor((Math.random() * 100) + 1),\n    humidity:Math.floor((Math.random() * 100) + 1),\n    temperature:Math.floor((Math.random() * 100) + 1),\n    soil_moisture:Math.floor((Math.random() * 100) + 1),\n    light_intensity:Math.floor((Math.random() * 100) + 1),\n    production:Math.floor((Math.random() * 100) + 1)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":140,"wires":[["f1a5d3c7.53e1"]]},{"id":"f1a5d3c7.53e1","type":"csv","z":"30e702c5.b5f27e","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"date,time,location1,humidity,temperature,soil_moisture,light_intensity,production","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":430,"y":140,"wires":[["6bf9354d.6af38c"]]},{"id":"d9dccba0.b3ebf8","type":"ui_chart","z":"30e702c5.b5f27e","name":"","group":"33ec9300.4ac41e","order":0,"width":0,"height":0,"label":"chart b","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":460,"wires":[[]]},{"id":"84d8a959.be71b8","type":"function","z":"30e702c5.b5f27e","name":"","func":"var msg1;\nmsg1 = {\"payload\":msg.payload.date,\"topic\":\"date\"}\nvar msg2;\nmsg2 = {\"payload\":msg.payload.time,\"topic\":\"time\"}\nvar msg3;\nmsg2 = {\"payload\":msg.payload.location1,\"topic\":\"location\"}\nvar msg4;\nmsg2 = {\"payload\":msg.payload.humidity,\"topic\":\"humidity\"}\nvar msg5;\nmsg1 = {\"payload\":msg.payload.temperature,\"topic\":\"temperature\"}\nvar msg6;\nmsg2 = {\"payload\":msg.payload.soil_moisture,\"topic\":\"soil_moisture\"}\nvar msg7;\nmsg2 = {\"payload\":msg.payload.light_intensity,\"topic\":\"light_intensity\"}\nvar msg8;\nmsg2 = {\"payload\":msg.payload.production,\"topic\":\"production\"}\nreturn [msg1,msg2,msg3,msg4,msg5,msg6,msg7,msg8];","outputs":8,"noerr":0,"initialize":"","finalize":"","x":440,"y":420,"wires":[["c5dda95a.c9cad8","2dd544b1.97fb9c","8c63b1c8.05eca"],["d9dccba0.b3ebf8","b540702a.386ad","3597044a.6b8e0c"],[],[],[],[],[],[]]},{"id":"16b78e98.50ce01","type":"mqtt in","z":"30e702c5.b5f27e","name":"","topic":"csv1","qos":"2","datatype":"auto","broker":"931747d9.75a2b8","x":110,"y":420,"wires":[["479a37a9.ed6338"]]},{"id":"7e2dc7d9.072478","type":"mqtt out","z":"30e702c5.b5f27e","name":"","topic":"csv1","qos":"","retain":"","broker":"931747d9.75a2b8","x":790,"y":160,"wires":[]},{"id":"c5dda95a.c9cad8","type":"debug","z":"30e702c5.b5f27e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":320,"wires":[]},{"id":"56dda9db.045778","type":"csv","z":"30e702c5.b5f27e","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"date,time,location1,humidity,temperature,soil_moisture,light_intensity,production","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":610,"y":240,"wires":[["7e2dc7d9.072478","37c87c8c.532444"]]},{"id":"479a37a9.ed6338","type":"json","z":"30e702c5.b5f27e","name":"","property":"payload","action":"","pretty":false,"x":270,"y":340,"wires":[["84d8a959.be71b8"]]},{"id":"3597044a.6b8e0c","type":"debug","z":"30e702c5.b5f27e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":540,"wires":[]},{"id":"37c87c8c.532444","type":"debug","z":"30e702c5.b5f27e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":220,"wires":[]},{"id":"427fea80.fea6d4","type":"ui_switch","z":"30e702c5.b5f27e","name":"","label":"switch","tooltip":"","group":"2645dbbc.229ab4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":80,"wires":[["f83ff8f4.049808"]]},{"id":"2dd544b1.97fb9c","type":"ui_chart","z":"30e702c5.b5f27e","name":"","group":"6a163730.4ef7e8","order":0,"width":0,"height":0,"label":"chart a","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":400,"wires":[[]]},{"id":"8c63b1c8.05eca","type":"ui_gauge","z":"30e702c5.b5f27e","name":"","group":"6a163730.4ef7e8","order":1,"width":"0","height":"0","gtype":"gage","title":"gauge a","label":"units","format":"{{value}}","min":"1","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":360,"wires":[]},{"id":"b540702a.386ad","type":"ui_gauge","z":"30e702c5.b5f27e","name":"","group":"33ec9300.4ac41e","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge b","label":"units","format":"{{value}}","min":"1","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":500,"wires":[]},{"id":"33ec9300.4ac41e","type":"ui_group","z":"","name":"ch_b","tab":"cd0f15bf.f77968","order":3,"disp":true,"width":"6","collapse":false},{"id":"931747d9.75a2b8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2645dbbc.229ab4","type":"ui_group","z":"","name":"switch","tab":"cd0f15bf.f77968","order":1,"disp":true,"width":"6","collapse":false},{"id":"6a163730.4ef7e8","type":"ui_group","z":"","name":"ch_a","tab":"cd0f15bf.f77968","order":2,"disp":true,"width":"6","collapse":false},{"id":"cd0f15bf.f77968","type":"ui_tab","z":"","name":"lab 11_3","icon":"dashboard","order":18,"disabled":false,"hidden":false}]