11/multiple linear reg/lab 11 (2) receiving nodered import.txt
[{"id":"d55d4521.e78ad8","type":"tab","label":"lab 11 (2) receiving","disabled":false,"info":""},{"id":"a8c2664a.07e398","type":"ui_text","z":"d55d4521.e78ad8","group":"2645dbbc.229ab4","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":180,"wires":[]},{"id":"e2e3553f.15ae08","type":"inject","z":"d55d4521.e78ad8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":180,"wires":[["2aaf092.15229f6"]]},{"id":"2aaf092.15229f6","type":"file in","z":"d55d4521.e78ad8","name":"","filename":"C:\\Users\\Varun Patel\\Desktop\\lab_11_plant.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":450,"y":320,"wires":[["a8c2664a.07e398","50a72f2a.66bdc"]]},{"id":"50a72f2a.66bdc","type":"debug","z":"d55d4521.e78ad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":280,"wires":[]},{"id":"2645dbbc.229ab4","type":"ui_group","z":"","name":"switch","tab":"cd0f15bf.f77968","order":1,"disp":true,"width":"6","collapse":false},{"id":"cd0f15bf.f77968","type":"ui_tab","z":"","name":"lab 11_3","icon":"dashboard","order":18,"disabled":false,"hidden":false}]