11/linear reg/receive nodered import.txt
[{"id":"ef4cd135.0c523","type":"tab","label":"lab 11_receiving","disabled":false,"info":""},{"id":"f3f9f3db.ecbe4","type":"ui_text","z":"ef4cd135.0c523","group":"721cab48.a24b64","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":300,"wires":[]},{"id":"99c8c70a.f67808","type":"inject","z":"ef4cd135.0c523","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":160,"wires":[["fb894a55.861158"]]},{"id":"fb894a55.861158","type":"file in","z":"ef4cd135.0c523","name":"","filename":"C:\\Users\\Varun Patel\\Desktop\\pred.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":300,"wires":[["f3f9f3db.ecbe4"]]},{"id":"721cab48.a24b64","type":"ui_group","z":"","name":"text output","tab":"78e79fc7.2472f","order":4,"disp":true,"width":"6","collapse":false},{"id":"78e79fc7.2472f","type":"ui_tab","z":"","name":"lab 11_2","icon":"dashboard","order":17,"disabled":false,"hidden":false}]