11/linear reg/transmission nodered import.txt
[{"id":"dca97c05.e9847","type":"tab","label":"lab 11_transmission","disabled":false,"info":""},{"id":"31d2e91d.c10d26","type":"file","z":"dca97c05.e9847","name":"","filename":"C:\\Users\\Varun Patel\\Desktop\\excel_data.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":610,"y":60,"wires":[["872e57f3.561b08"]]},{"id":"c6f53257.56aec","type":"inject","z":"dca97c05.e9847","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":90,"y":120,"wires":[["928416cd.966248"]]},{"id":"6d935d35.fc6854","type":"function","z":"dca97c05.e9847","name":"","func":"if (msg.payload === false)\n{\n    return null;\n}\n//random number generator between 1 - 100\nmsg.payload = {\n    a:Math.floor((Math.random() * 100) + 1),\n    b:Math.floor((Math.random() * 100) + 1)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":120,"wires":[["4d28cfcd.50c13"]]},{"id":"4d28cfcd.50c13","type":"csv","z":"dca97c05.e9847","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"a,b","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":430,"y":120,"wires":[["31d2e91d.c10d26"]]},{"id":"51f3e4c.445ab1c","type":"ui_chart","z":"dca97c05.e9847","name":"","group":"49f72d0e.0ecd14","order":0,"width":0,"height":0,"label":"chart b","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":440,"wires":[[]]},{"id":"d72093c4.ebb71","type":"function","z":"dca97c05.e9847","name":"","func":"var msg1;\nmsg1 = {\"payload\":msg.payload.a,\"topic\":\"a\"}\nvar msg2;\nmsg2 = {\"payload\":msg.payload.b,\"topic\":\"b\"}\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":440,"y":400,"wires":[["f8c3b8fb.9d16a8","c99cb2fb.0bbc","e80225a9.a69fa8"],["51f3e4c.445ab1c","c7d86844.e37a38","69dba2b.748b75c"]]},{"id":"38a63ca.e5347c4","type":"mqtt in","z":"dca97c05.e9847","name":"","topic":"csv1","qos":"2","datatype":"auto","broker":"931747d9.75a2b8","x":110,"y":400,"wires":[["62a3e43b.39c5dc"]]},{"id":"868374a4.cd5a78","type":"mqtt out","z":"dca97c05.e9847","name":"","topic":"csv1","qos":"","retain":"","broker":"931747d9.75a2b8","x":790,"y":140,"wires":[]},{"id":"f8c3b8fb.9d16a8","type":"debug","z":"dca97c05.e9847","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":300,"wires":[]},{"id":"872e57f3.561b08","type":"csv","z":"dca97c05.e9847","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"a,b","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":610,"y":220,"wires":[["868374a4.cd5a78","c6c7f2c7.b1907"]]},{"id":"62a3e43b.39c5dc","type":"json","z":"dca97c05.e9847","name":"","property":"payload","action":"","pretty":false,"x":270,"y":320,"wires":[["d72093c4.ebb71"]]},{"id":"c7d86844.e37a38","type":"debug","z":"dca97c05.e9847","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":520,"wires":[]},{"id":"c6c7f2c7.b1907","type":"debug","z":"dca97c05.e9847","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":200,"wires":[]},{"id":"928416cd.966248","type":"ui_switch","z":"dca97c05.e9847","name":"","label":"switch","tooltip":"","group":"37792b96.04ef34","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":60,"wires":[["6d935d35.fc6854"]]},{"id":"c99cb2fb.0bbc","type":"ui_chart","z":"dca97c05.e9847","name":"","group":"ad5ee3b6.ee724","order":0,"width":0,"height":0,"label":"chart a","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":380,"wires":[[]]},{"id":"e80225a9.a69fa8","type":"ui_gauge","z":"dca97c05.e9847","name":"","group":"ad5ee3b6.ee724","order":1,"width":"0","height":"0","gtype":"gage","title":"gauge a","label":"units","format":"{{value}}","min":"1","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":340,"wires":[]},{"id":"69dba2b.748b75c","type":"ui_gauge","z":"dca97c05.e9847","name":"","group":"49f72d0e.0ecd14","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge b","label":"units","format":"{{value}}","min":"1","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":480,"wires":[]},{"id":"49f72d0e.0ecd14","type":"ui_group","z":"","name":"chart b","tab":"78e79fc7.2472f","order":3,"disp":true,"width":"6","collapse":false},{"id":"931747d9.75a2b8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"37792b96.04ef34","type":"ui_group","name":"Group 1","tab":"78e79fc7.2472f","order":1,"disp":true,"width":6},{"id":"ad5ee3b6.ee724","type":"ui_group","z":"","name":"chart a","tab":"78e79fc7.2472f","order":2,"disp":true,"width":"6","collapse":false},{"id":"78e79fc7.2472f","type":"ui_tab","z":"","name":"lab 11_2","icon":"dashboard","order":17,"disabled":false,"hidden":false}]